<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>server remider</title>
    <link href="/css/table.css"  rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body >
    
    
<div class="container" id="table_1" >
    <h2>HTML Table</h2>

<table class="table table-dark">
  <tr class="table-active" >
    <th>IP Address</th>
    <th>Local Names</th>
    <th>Domain</th>
    <!-- <th>options</th> -->
  </tr>
  <!-- reder by nodejs / for u/p add from and get data for u and p/delete -->
  <% data.forEach((post) => { %>
    <tr>
      <td><%= post.IP %></td>
      <td><%= post.localname %></td>
      <td><%= post.domain %></td>
      <td>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal_<%= post.IP %>">U/P</button>
      </td>
      <td>
        <form action="/del" method="post">
          <button type="submit" name="del1" class="btn btn-danger" value="<%= post.IP %>">X</button>
        </form>
      </td>
    </tr>
  
    <div class="modal fade" id="exampleModal_<%= post.IP %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Username: <%= post.username %><br>
            Password: <%= post.password %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
  


  <!-- <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td><button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">U/P</button>
    <button type="button" class="btn btn-danger" value="">X</button></td>
  </tr> -->
  
  <form action="/add" method="post">
  <tr>
    <td><input class="form-control" type="text" name="ip" ></td>
    <td><input class="form-control" type="text" name="localname"></td>
    <td><input class="form-control" type="text" name="domain"></td>
  </tr>

</table>
<div class="input-group mb-3 d-flex justify-content-end" >
    <div id="k" class="d-nonejustify-content-end" >
    <input type="text" class="form-control-l "  placeholder="Username"  style="margin-top:10px; " aria-label="Username" name="username">
    <input type="text" class="form-control-l" placeholder="Password"  style="margin-top:10px; " aria-label="Password" name="password">
    </div>
    <button type="button" class="btn btn-secondary" onclick="hide_show()" style="margin:5px; ">Credentials</button>
    <button type="submit"  class="btn btn-success" style="margin:5px; ">Add</button>
   
  </div>


</div>
</form>
</div>


  

  <!-- Modal -->

  <script src="/js/sidebars.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>